<!DOCTYPE html>

<html>

<head>
	  <meta charset="UTF-8" name="viewport" content="width=device-width"/>
	  <link rel="stylesheet" type="text/css" media="screen" href ="CSS/main.css"/>
</head>


<body class="all">
	
	<div class= "top" > 
		<img src="menu.png" align="margin-left">
		 <input type="search" maxlength="320" id="" name="" float= "right">
		  <img src= "arrow.PNG" >
		 <img src="close.png" align="right">
			
		</div> <br>

			
		<div class= "bloque" id="id" 
	    > 
	   <img src= "cat.PNG" width="70" height="70" style="margin-left:10px">
	   <img src= "name.PNG" style="margin-left:10px">
	   <img src= "share.png" width="50" height="50" style="margin-right:956px">
	   <img src= "user1.png" width="50" height="50" style="margin-left:9px"> 

	</div> <br>

	<section class="grand" id= "ideal"> 
	
	<SCRIPT  class= "bloque" id= "ideal" language=JavaScript > 
	function go() {
if (document.form.password.value=='CONTRASEÑA' && document.form.login.value=='CORREO'){ 
        document.form.submit(); 
    } 
    else{ 
         alert("Porfavor ingrese, nombre de usuario y contraseña correctos."); 
    } 
   } 
</SCRIPT> 
<FORM name=form action="Ingresar">

<P>Usuario:    <INPUT type=text  name=login> 
<P>Contraseña: <INPUT type=password  name=password> 
<INPUT onclick = go() type=button value=Acceder>

</FORM> 
	









</section>

</body>
</html>