.top {
	 margin-left: auto;
	 margin-right: auto;
	 background-color: #3E8CE9;
	 box-shadow: rgba(0,0, 0,0.5) 2px, 2px, 2px, 2px;
	 padding: 15px ;

	}

.all {
	font-family: status-bar;
	font color: #3E8CE9;
} 

.bloque {
		font-family: status-bar;
		border: solid #3E8CE9;
		border-collapse: all;
    	border-spacing: 1px;
		margin-left: auto;
	    margin-right: auto;
	    background-color: #ECEBE6;
	    box-shadow: rgba(0,0, 0,0.5);
	    align-items: center;
	    justify-content: space-between;
		
}
	    
	    


.grand {
	 overflow: auto;

}
.caja {
		align-content: right;
		width: 950px;
		height:auto;
		background-color: black;

}

.caja_imagen {
		 border: solid blue;
		 float: right;
		 background-color: #999997;
		 width: 386px;
		 height: 194px;
		 max-width: 80%
		 text-align: center;
		 text color: black;
			}

#ideal {
		 border: solid blue;
		 float: right;
		 background-color: #999997;
		 width: 386px;
		 height: 194px;
		 max-width: 80%
		 text color: blue;
			}

#noticia {
		font-family: status-bar;
		background-color: #ECEBE6;
	    box-shadow: rgba(0,0, 0,0.5);
	    align-items: center;
	    justify-content: space-between;
}

.cuerpo {
	font-family: sans-serif;
	background-color: ##ECEBE6; color: #3E8CE9; padding: 1px;
	width: 1200px;
	height: 150px;
}



.container{
    
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: rgba(0,0, 0,0.5) 2px, 2px, 2px, 2px;
   
}



#negrita {
	font: status-bar;
	font-weight: bold;
	font-size: 20px;

}





#small {
	font-size: 15px;
	text-align: left;

}


.date{
	font-family: sans-serif;
}

#contenedor{
	font-family: sans-serif;
}